[submodule "dependencies/XMake"]
	path = dependencies/XMake
	url = git://github.com/Kanma/XMake.git
[submodule "dependencies/UnitTest++"]
	path = dependencies/UnitTest++
	url = git://github.com/Kanma/UnitTest-cpp.git
[submodule "dependencies/v8"]
	path = dependencies/v8
	url = git://github.com/Kanma/v8.git
[submodule "dependencies/Athena-Math"]
	path = dependencies/Athena-Math
	url = git://github.com/Kanma/Athena-Math.git
