language: cpp

compiler:
  - clang
  - gcc

env:
  - CMAKE_BUILD_TYPE=Debug
  - CMAKE_BUILD_TYPE=Release

script:
  - mkdir build
  - cd build
  - cmake -D CMAKE_BUILD_TYPE=${CMAKE_BUILD_TYPE} .. && make

branches:
  except:
    - /\d\.\d\.\d/
